        <article class="post">
            <div class="title">
                <a target="_blank">{{title}}</a>
            </div>
            <div class="meta">
                <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        </article>