<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Tech Blog</title>
  </head>

  <body class="flex-column min-100-vh">
    <header class="hero">
      <a href="/" class="app-title">Tech Blog</a>
      <nav>
        {{#if loggedIn}}
        <a class="app-title" style="float: right;margin-right:15px;" href="/dashboard">Dashboard</a>
        <a id="logout" style="float:right;margin-right:15px;" href="/" class="app-title">Logout</a>
        {{else}}
        <a class="app-title" style="float: right;margin-right:15px;" href="/login">Login</a>
        {{/if}}
      </nav>
    </header>

    <main class="flex-row justify-space-between">
        {{{body}}}
    </main>
    <footer>

    </footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>
