{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div class="card">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  </div>
  <div>
    <button class="btn" style="background-color: rgb(56, 44, 44);" type="submit">Comment</button>
  </div>

</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
